.zastavka img{
    width:1200px;
    height: 200px;
    
}
.info{
    margin-top: 20px;
    display: flex;
}
.ava img{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 35px;
}
.me{
    margin-left: 50px;
}