.message {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}
.message a{
    display: block;
    font-size:25px;
    text-decoration: none;
    font-weight: bold;
    line-height: 2;
}
.dialog{
    margin-left:300px;
   
    
}
.item{
    font-size:25px;
    text-decoration: none;
    font-weight: bold;
    line-height: 2;
    color: blue;
}